* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Hind Madurai', sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #3cb8e3;
}

.one {
    width: 30%;
    margin: auto;
    line-height: 1.3;
    padding: 2vw;
}

h1 {
    font-size: 2.7vw;
    line-height: 1.3;
}

.one a {
    text-decoration: none;
    color: #Ed4ed9;
    transition: 500ms cubic-bezier(0, 0.59, 0.99, 0.66);
}

.one a:hover {
    color: greenyellow;
}

.one .about {
    margin-top: 5vh;
    line-height: 1.8;
    font-size: 1.3vw;
}

.stats {
    margin-top: 3vw;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3vw;
}

.stats p {
    margin-top: 0.8vh;
}

.image-div {
    width: 70%;
}

.image-div .two {
    height: 100%;
    background-image: url('../images/office2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-aspect-ratio: 21/8) {
    .image-div .two {
        background-image: url('../images/office1.jpg');
    }   
}

@media screen and (max-width:1200px) {
    .image-div .two {
        background-image: url('../images/office2.jpg');
    }
    .one .about {
        margin-top: 5vh;
        line-height: 1.2;
        font-size: 2vw;
    }
    .stats {
        width: 100%;
        text-align: center;
        font-size: 1.5vw;
    }
}

@media screen and (max-width:800px) {
    .image-div .two {
        background-image: url('../images/office4.jpg');
    }
    h1 {
        font-size: 2.9vw;
        line-height: 1.2;
    }
    .one .about {
        margin-top: 5vh;
        line-height: 1.2;
        font-size: 1.8vw;
    }
    .stats {
        margin-top: -10%;
        flex-direction: column;
        text-align: center;
        font-size: 1.8vw;
    }
    .stats h3 {
        margin-top: 0.5vw;
        margin-bottom: 0;
    }
    .stats p {
        margin-top: 0.2vw;
        margin-bottom: 1vw;
    }
}
@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }
    .main {
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }
    .image-div {
        margin: auto;
        width: 100%;
    }
    .image-div .two {
        height: 85vh;
        background-image: url('../images/office4.jpg');
    }
    .one {
        width: 70%;
    }
    .one h1 {
        font-size: 5vw;
    }
    .one p.about {
        font-size: 2.8vw;
    }
    .one .stats h3 {
        font-size: 2.5vw;
        margin-top: 1vw;
    }
    .one .stats p {
        font-size: 2.3vw;
    }
}